body {
	background-color: #e9ebee;
}

a.brand:hover, a.circle:hover {
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.container {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	flex: 1 100%;;
	min-height: 95vh;
	width: 53vh;
	/*background-color: #333333;*/
	-webkit-box-shadow: 10px 9px 9px 0px rgba(198,198,198,1);
	-moz-box-shadow: 10px 9px 9px 0px rgba(198,198,198,1);
	box-shadow: 10px 9px 9px 0px rgba(198,198,198,1);
}

.title {
	background-color: #656565;
	position: relative;
}

a.brand {
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
	line-height: 45px;
	margin-left: 12px;
}

a.brand:hover {
	color: #efefef;
}


.circle {
	background-color: #ffffff;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	margin-right: 12px;
}

.circle:hover {
	background-color: #efefef;
}


.react-tabs [role=tab] {
	padding: 1.4em 1.4em;
}


.icon {
	width: 25%;
	text-align: center;
}


.user-info {
	height: 12vh;
	background-color: #ffffff;
}

.user-tab {
	flex-grow: 3;
	height: auto;
	flex: 3 0px;
}


.social-media-bar {
	background-color: #e9e9e9;
	flex: 1 auto;
	height: 13vh;
}

/*

@media only screen and (max-width: 440px){
	body {
		margin: 0;
	}

	.container {
		min-height: 55vh;
		width: auto;
	}
	.brand {
		font-size: 16px;
	}
	.react-tabs [role=tab] {
		padding: 1.7em 1.7em;
	}
	.social-media-bar {
		width: 75%;
	}
}*/
